body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;  /* This will be the base font size */
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Destroyed Aero';
  src: url('fonts/Destroyed Aero.ttf') format('truetype');
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;  /* Reduce to fit on smaller screens */
}

header p {
  color: #ffffff;
  font-family: 'Destroyed Aero', fallback, sans-serif;
  margin: 0;
  font-size: 1.5em;  /* Reduce to fit on smaller screens */
  letter-spacing: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Destroyed Aero', fallback, sans-serif;
  letter-spacing: 0.15em;
}

.image-container {
  display: flex;
  flex-direction: column;  /* Stack images vertically on smaller screens */
  align-items: center;  /* Center images on smaller screens */
  padding: 0 5%;  /* Reduce padding on smaller screens */
}

.image-container figure {
  width: 100%;
}

.image-container img {
  width: 100%;
}

.image-container figcaption {
  text-align: center;
}

.line {
  height: 1px;
  background-color: #000000;
  width: 100%;  /* Full width on smaller screens */
  margin: auto;
}

.columns {
  display: flex;
  flex-direction: column;  /* Stack columns vertically on smaller screens */
  align-items: center;  /* Center columns on smaller screens */
  padding: 0 5%;  /* Reduce padding on smaller screens */
}

.left-column, .right-column {
  width: 100%;  /* Full width on smaller screens */
  padding: 20px 0;
}

.left-column p {
  text-align: justify;
}

.right-column img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.padded-paragraph {
  padding: 10px 5%;  /* Change to a percentage for more flexibility */
  margin: 15px; 
  text-align: justify;
}

figure h5 + p {
  margin-top: 0px;
  text-align: justify;
}

main {
  padding-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #000000;
  padding: 2vh 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #ffffff;
  margin: 0;
  padding: 0 10px;  /* Add some padding on smaller screens */
  font-size: 80%;
}

/* Media queries for screens larger than 480px */
@media screen and (min-width: 481px) {
  .header-content {
    width: 70%;
  }

  header p {
    font-size: 300%;
  }

  .image-container {
    flex-direction: row;
    padding: 0 8%;
 }

.columns {
  flex-direction: row;
  padding: 0 10%;  /* Increase padding on larger screens */
}

.left-column, .right-column {
  width: 45%;  /* Adjust widths for larger screens */
}

.left-column p {
  align-items: center;
}

.right-column img {
  max-width: 100%;
}

.padded-paragraph {
  padding-left: 120px;  /* adjust these values as needed */
  padding-right: 120px;
  margin: 40px; 
}

footer p {
  padding: 0 20vw;  /* Add more padding on larger screens */
}
}
